{% extends 'admin/admin.html' %}
{% load static %}
{% block contents %}

<style>
    #create {
      width: 60%;
    }
  
    @media (max-width: 750px) {
      #create {
        width: 85% !important;
      }
    }
  </style>
  <div id="create" class="m-auto my-5 p-4 shadow">
    <h1 class="text-center">Create Team Member</h1>
    <form name="teamform" action="#" method="post" enctype="multipart/form-data" onsubmit="return teamValidation()" >
      {% csrf_token %}
      <div class="form-group mb-2 mt-2">
        <label for="">Image</label>
        <input type="file" class="form-control" id="" name="img" placeholder="" onclick="removeteamValidation()"/>
      </div>
      <p id="img" class="text-danger"></p>

      <div class="form-group mb-2 mt-2">
        <label for="">Name</label>
        <input type="text" class="form-control" id="" name="name" placeholder="" onclick="removeteamValidation()"/>
      </div>
      <p id="names" class="text-danger"></p>

      <div class="form-group mb-2 mt-2">
        <label for="">Post</label>
        <input type="text" class="form-control" id="" name="post" placeholder="" onclick="removeteamValidation()"/>
      </div>
      <p id="posts" class="text-danger"></p>

      <div class="form-group mb-2 mt-2">
        <label for="">Facebook Link</label>
        <input type="text" class="form-control" id="" name="fb_link" placeholder="" onclick="removeteamValidation()"/>
      </div>
      <p id="fbl" class="text-danger"></p>

      <div class="form-group mb-2 mt-2">
        <label for="">Twitter link</label>
        <input type="text" class="form-control" id="" name="twitter_link" placeholder="" onclick="removeteamValidation()"/>
      </div>
      <p id="twt" class="text-danger"></p>

      <div class="form-group mb-2 mt-2">
        <label for="">Instagram link</label>
        <input type="text" class="form-control" id="" name="insta_link" placeholder="" onclick="removeteamValidation()"/>
      </div>
      <p id="igm" class="text-danger"></p>

      <div class="form-group mb-2 mt-2">
        <label>Status</label>
      </div>
        <div
          class="btn-group"
          role="group"
          aria-label="Basic radio toggle button group">
          <input type="radio" id="isactive" class="btn-check" name="status" value="true">
          <label for="isactive" class="btn btn-outline-primary" checked="true" >Active</label><br>
          <input type="radio" id="inactive" class="btn-check" name="status" value="false">
          <label for="inactive" class="btn btn-outline-primary">In Active</label><br>
  
        </div>
        <p id="statuss" class="text-danger"></p>
  
      <button type="submit" class="btn btn-primary mb-3 mt-2">Submit</button>
      <button class="btn btn-primary mb-3 mt-2">cancel</button>
  
    </form>
  </div>

{% endblock contents %}