{% extends 'admin/admin.html' %} {% load static %} {% block contents %}

<style>
    #create {
        width: 60%;
    }

    @media (max-width: 750px) {
        #create {
            width: 85% !important;
        }
    }
</style>
<div id="create" class="m-auto my-5 p-4 shadow">
    <h1 class="text-center">Create Gallery</h1>
    <form action="#" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="form-group mb-2 mt-2">
            <label for="user_id">User ID</label>
            <select id="user_id" class="form-select" aria-label="Default select example" name="user_id">
                <option selected>Choose the user id</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="form-group mb-2 mt-2">
            <label for="img">Img</label>
            <input type="file" class="form-control" id="img" name="img" placeholder="" />
        </div>

        <div class="form-group mb-2 mt-2">
            <label for="top_title">Top Title </label>
            <input type="text" class="form-control" id="top_title" name="top_title" />
        </div>

        <div class="form-group mb-2 mt-2">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" />
        </div>

        <div class="form-group mb-2 mt-2">
            <label for="description">Description </label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-3 mt-2">Submit</button>
        <button class="btn btn-primary mb-3 mt-2">cancel</button>

    </form>
</div>

{% endblock contents %}