{% extends 'admin/admin.html' %}
{% load static %}
{% block contents %}

<style>
  #create { 
    width: 60%;
  }

  @media (max-width: 750px) {
    #create {
      width: 85% !important;
    }
  }
</style>
<div id="create" class="m-auto my-5 p-4 shadow">
  <h1 class="text-center">Create FAQ</h1>
  <form name="faqform" action="#" method="post" enctype="multipart/form-data" onsubmit="return faqValidation()" >
    {% csrf_token %}
    <div class="form-group mb-2 mt-2">
      <label for="">Name</label>
      <input type="text" class="form-control" id="" name="name" placeholder="" onclick="removefaqValidation()"/>
    </div>
    <p id="namess" class="text-danger"></p>

    <div class="form-group mb-2 mt-2">
      <label for="">Email</label>
      <input type="email" class="form-control" id="" name="email" placeholder="" onclick="removefaqValidation()" />
    </div>
    <p id="emails" class="text-danger"></p>

    <div class="form-group mb-2 mt-2">
      <label for="question">Message</label>
      <textarea name="question" class="form-control" id="question" cols="30" rows="10" onclick="removefaqValidation()"></textarea>
    </div>
    <p id="messages" class="text-danger"></p>

   
      


    <button type="submit" class="btn btn-primary mb-3 mt-2">Submit</button>
    <button class="btn btn-primary mb-3 mt-2">cancel</button>

  </form>
</div>

{% endblock contents %}