{% extends 'inc/nav.html' %} {% load static %} {% block content %}

<!-- body -->
<div class="pt-4">
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-center">
      <li class="breadcrumb-item">
        <a href="index.html" class="text-decoration-none">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
  </nav>
  <li class="list-group-item text-center">
    <h1 class="py-2">About</h1>
  </li>
</div>
<!-- first section -->
<section class="container">
  <div class="mb-5">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" />
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12">
        <h3 class="card-title text-center">Title</h3>
        <p class="card-text p-3 text-justify">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.loremI
          checked in for the night at Out O The Way motel. What a bad choice
          that was. First I took a shower and a spider crawled out of the drain.
          Next, the towel rack fell down when I reached for the one small bath
          towel. This allowed the towel to fall halfway into the toilet. I tried
          to watch a movie, but the remote control was sticky and wouldn’t stop
          scrolling through the channels. I gave up for the night and crawled
          into bed. I stretched out my leg and felt something furry by my foot.
          Filled with fear, I reached down and to my surprise, I pulled out a
          raccoon skin pair of underwear. After my initial relief that it wasn’t
          alive, the image of a fat, ugly businessman wearing raccoon skin
          briefs filled my brain. I jumped out of the bed, threw my toothbrush
          into my bag, and sprinted towards my car.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- second section -->
<section class="container">
  <div class="py-5 text-center m-auto mb-5 bg-light text-black">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="">
          <div class="card-body">
            <h4 class="card-title">23456</h4>
            <p class="card-text">Lorem ipsum dolor sit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="">
          <div class="card-body">
            <h4 class="card-title">23456</h4>
            <p class="card-text">Lorem ipsum dolor sit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="">
          <div class="card-body">
            <h4 class="card-title">23456</h4>
            <p class="card-text">Lorem ipsum dolor sit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="">
          <div class="card-body">
            <h4 class="card-title">23456</h4>
            <p class="card-text">Lorem ipsum dolor sit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonials description-->
<section class="container bg-light">
  <div class="mb-3 m-auto mb-5">
    <div class="card-body">
      <h2 class="card-title text-center p-4 me-5">Testomonials</h2>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="m-auto" style="width: 18rem">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" class="card-img-top rounded-circle"
              alt="..." />
            <div class="card-body">
              <h3 class="card-title text-center">Name</h3>
            </div>
          </div>
          <p class="card-text text-center p-3 container">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.Next, the
            towel rack fell down when I reached for the one small bath towel.
            This allowed the towel to fall halfway into the toilet. I tried to
            watch a movie, but the remote control was sticky and wouldn’t stop
            scrolling through the channels. I gave up for the night and crawled
            into bed. I stretched out my leg and felt something furry by my
            foot. Filled with fear, I reached down and to my surprise, I pulled
            out a raccoon skin pair of underwear. After my initial relief that
            it wasn’t alive, the image of a fat, ugly businessman wearing
            raccoon skin briefs filled my brain. I jumped out of the bed,
          </p>
        </div>
        <div class="carousel-item">
          <div class="m-auto" style="width: 18rem">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp" class="card-img-top rounded-circle"
              alt="..." />
            <div class="card-body">
              <h3 class="card-title text-center">Name</h3>
            </div>
          </div>
          <p class="card-text text-center p-3">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.Next, the
            towel rack fell down when I reached for the one small bath towel.
            This allowed the towel to fall halfway into the toilet. I tried to
            watch a movie, but the remote control was sticky and wouldn’t stop
            scrolling through the channels. I gave up for the night and crawled
            into bed. I stretched out my leg and felt something furry by my
            foot. Filled with fear, I reached down and to my surprise, I pulled
            out a raccoon skin pair of underwear. After my initial relief that
            it wasn’t alive, the image of a fat, ugly businessman wearing
            raccoon skin briefs filled my brain. I jumped out of the bed,
          </p>
        </div>
        <div class="carousel-item">
          <div class="m-auto" style="width: 18rem">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp" class="card-img-top rounded-circle"
              alt="..." />
            <div class="card-body">
              <h3 class="card-title text-center">Name</h3>
            </div>
          </div>
          <p class="card-text text-center p-3">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.Next, the
            towel rack fell down when I reached for the one small bath towel.
            This allowed the towel to fall halfway into the toilet. I tried to
            watch a movie, but the remote control was sticky and wouldn’t stop
            scrolling through the channels. I gave up for the night and crawled
            into bed. I stretched out my leg and felt something furry by my
            foot. Filled with fear, I reached down and to my surprise, I pulled
            out a raccoon skin pair of underwear. After my initial relief that
            it wasn’t alive, the image of a fat, ugly businessman wearing
            raccoon skin briefs filled my brain. I jumped out of the bed,
          </p>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
{% endblock content %}