{% extends 'inc/nav.html' %} {% load static %} {% block content %}

<div class="mt-4">
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-center">
      <li class="breadcrumb-item">
        <a href="{% url 'home' %}" class="text-decoration-none">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Blog</li>
    </ol>
  </nav>
  <li class="list-group-item text-center">
    <h1>Blog</h1>
  </li>
</div>

<!-- first section -->
<section class="container pb-5">
  <div class="row">
    <div class="col-lg-10">
      <div class="row shadow my-1" style="border-radius: 15px">
        <div class="row pb-3 pt-4 ps-5">
          {% for items in blog_obj %}
          <div class="col-lg-6 col-md-6 col-sm-12">
            <a href="{% url 'blog_view' items.slug %}" class="text-dark">
              <div class="card pb-2">
                <img src="{{items.img.url}}" class="card-img-top" alt="..." height="250px"/>

                <div class="card-body" style="height:150px; overflow:hidden;" >
                  <h5 class="card-title">{{items.title}}</h5>
                  <h5 class="card-title">{{items.author}}</h5>
                  <p class="card-text ">
                    {{items.description}}hjkfdsjgkdsjfhshgsfhg\shdkgfh\sgdhfgshkdfhjasfjasggdhfsahgfhjahjghj\asgfashdfsadbfnsabdcsahjdhjhdskjhjhsdfdhfjsgdfjhasfdkhasdgdgfkashgfhasgfhasgdfhaskdasgsajkhghbvhghbhhjgkdsjfhshgsfhg\shdkgfh\sgdhfgshkdfhjasfjasggdhfsahgfhjahjghj\asgfashdfsadbfnsabdcsahjdhjhdskjhjhsdfdhfjsgdfjhasfdkhasdgdgfkashgfhasgfhasgdfhaskdasgsajkhghbvhghbhh
                  </p>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}


        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-12 col-sm-12 py-2 shadow" style="position: sticky; top: 0">
      <form class="form-search d-flex pb-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
      </form>
      <h3 class="text-center">Top Blogs</h3>
      <div class="blog-links">
        {% for item in blog_obj %}
        <div class="text-center">
          <h4>{{item.title}}</h4>
        </div>
        {% endfor %}
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-lg-7 col-md-12 col-sm-12 text-center align-items-center">
          <h3>Tags</h3>
          <a href="#" class="twitter"><i class="bi p-1 bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi p-1 bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi p-1 bi-instagram"></i></a>
          <a href="#" class="twitter"><i class="bi p-1 bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi p-1 bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi p-1 bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}