{% extends 'inc/nav.html' %} {% load static %} {% block content %}

<div class="mt-4">
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-center">
      <li class="breadcrumb-item">
        <a href="index.html" class="text-decoration-none">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Blog</li>
    </ol>
  </nav>
  <li class="list-group-item text-center">
    <h1>Blog</h1>
  </li>
</div>

<!-- first section -->
<section class="container pb-5">
  <div class="row">
    <div class="col-lg-10">
      <div class="row g-3 shadow mt-1 mb-1 pb-2" style="border-radius: 15px">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <a href="blog-detail.html" class="text-dark">
              <div class="card">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" class="card-img-top" alt="..." />

                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-12 col-sm-12 py-2 shadow" style="position: sticky; top: 0">
      <form class="form-search d-flex pb-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
      </form>
      <h3 class="text-center">Top Blogs</h3>
      <div class="blog-links">
        <div class="text-justify p-4">
          <h4>Title</h4>
          <p>Lorem,</p>
          <p>Date</p>
        </div>
        <div class="text-justify p-4">
          <p>Lorem,</p>
          <p>Lorem,</p>
          <p>Lorem,</p>
        </div>
        <div class="text-justify p-4">
          <p>Lorem,</p>
          <p>Lorem,</p>
          <p>Lorem,</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-12 col-sm-12 text-center align-items-center">
          <h3>Tags</h3>
          <a href="#" class="twitter"><i class="bi p-1 bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi p-1 bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi p-1 bi-instagram"></i></a>
          <a href="#" class="twitter"><i class="bi p-1 bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi p-1 bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi p-1 bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}