{% extends 'inc/nav.html' %}
{% load static %}
{% block content %} 
  <!-- main section -->
  <section class="container">
    <div class="row py-2 px-4">
      <div class="col text-secondary">
        <h3>Event</h3>
      </div>
      <div class="col d-flex align-items-center justify-content-end">
        <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item text-secondary active" aria-current="page">
              Event
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- breadcrumb section end -->
  </section>
  <!-- breadcrumb section end -->

  <!-- liveEvent section start -->
  <div class="container mb-3">
    <!-- <div class="row d-flex flex-row"> -->
    <div class="d-flex justify-content-center breadcrumb-title-heading py-2">
      <h3 class="pt-2">
        Live Event
        <hr size="4" class="bg-dark" />
      </h3>
    </div>

    <div id="myCarousel" class="carousel slide mx-2" data-bs-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
      </ol>

      <!-- Slides -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/download.jpeg' %}" class="d-block w-100" alt="First slide" />
          <div class="carousel-caption text-dark w-50 m-auto"  style="height: 250px">
            <div class="mb-5 p-2" style="background-color: #e7e6e4;">
              <h6>Title</h6>
              <p>Lorem ipsum dolor sit amet..</p>
              <h6>Date:jggghghgh</h6>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./uploads/gallery1.jpg" class="d-block w-100" alt="Second slide" />
          <div class="carousel-caption text-dark d-md-block w-50 m-auto" style="height: 250px">
            <div class=" carousel_caption-bg mb-5 p-2" style="background-color: #e7e6e4;">
              <h6>Title</h6>
              <p>Lorem ipsum dolor sit amet..</p>
              <h6>Date:jggghghgh</h6>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./uploads/dance-nepal-dance.jpg" class="d-block w-100" alt="Third slide" />
          <div class="carousel-caption text-dark d-md-block w-50 m-auto" style="height: 250px">
            <div class="heyy mb-5 p-2" style="background-color: #e7e6e4;">
              <h6>Title</h6>
              <p>Lorem ipsum dolor sit amet..</p>
              <h6>Date:jggghghgh</h6>
            </div>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
    <!-- liveEvent section end -->

    <!-- completed events starts -->
    <div class="d-flex justify-content-center pt-3">
      <h3>
        Completed Event
        <hr size="4" class="bg-dark" />
      </h3>
    </div>

    <div class="row m-auto py-5">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card small-card mt-3">
          <img class="card-img-top" src="./uploads/cloud.png" alt="Card image" />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some example text.</p>
            <a href="event_details.html" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card small-card mt-3">
          <img class="card-img-top" src="./uploads/cloud.png" alt="Card image" />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some example text.</p>
            <a href="event_details.html" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card small-card mt-3">
          <img class="card-img-top" src="./uploads/cloud.png" alt="Card image" />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some example text.</p>
            <a href="event_details.html" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <!-- completed events starts -->
  </div>
  <!-- main section -->
  {% endblock content %}