{% extends 'inc/nav.html' %} {% load static %} {% block content %}
<!-- main section -->
<section class="container">
  <div class="row py-2 px-4">
    <div class="col text-secondary">
      <h3>Event</h3>
    </div>
    <div class="col d-flex align-items-center justify-content-end">
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item text-secondary active" aria-current="page">
            Event
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- breadcrumb section end -->
</section>
<!-- breadcrumb section end -->

<!-- liveEvent section start -->
<div class="container mb-3">
  <!-- <div class="row d-flex flex-row"> -->
  <div class="d-flex justify-content-center breadcrumb-title-heading py-2">
    <h3 class="pt-2">
      Live Event
      <hr size="4" class="bg-dark" />
    </h3>
  </div>

  <div id="myCarousel" class="carousel slide mx-2" data-bs-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>

    <!-- Slides -->
    <div class="carousel-inner">
      {% for items in event_objs %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img
          src="{{items.event_img.url}}"
          class="d-block w-100"
          alt="First slide"
        />
        <div
          class="carousel-caption text-primary w-50 m-auto"
          style="height: 250px"
        >
          {% comment %}
          <div class="mb-5 p-2" style="background-color: none">
            {% endcomment %}
            <div class="mb-5 p-2" style="background-color: #e7e6e4">
              <h6>{{items.event_title}}</h6>
              <p>{{items.event_description}}</p>
              <h6>{{items.event_date}}</h6>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Controls -->
      <a
        class="carousel-control-prev"
        href="#myCarousel"
        role="button"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#myCarousel"
        role="button"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
    <!-- liveEvent section end -->

    <!-- completed events starts -->
    <div class="d-flex justify-content-center pt-3">
      <h3>
        Completed Event
        <hr size="4" class="bg-dark" />
      </h3>
    </div>

    <div class="row m-auto py-5">
      {% for items in event_objs %}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card small-card mt-3">
          <img
            class="card-img-top"
            src="{{items.event_img.url}}"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">{{items.event_title}}</h4>
            <p class="card-text">{{items.event_description}}</p>
            <a href="{% url 'event_details' %}" class="btn btn-primary"
              >Go somewhere</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- completed events starts -->
  </div>
  <!-- main section -->
  {% endblock content %}
</div>
