{% extends 'inc/nav.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div>
        <img src="./uploads/cloud.png" height="100%" width="100%" alt="" />
      </div>
      <div>
        <h2>Send Us Your Question!</h2>
        <form class="row g-3 shadow mt-1 mb-1 p-2" style="border-radius: 15px" method="POST">
          {% csrf_token %}
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Name" name="name" />
          </div>
          <div class="col-md-12">
            <input type="email" class="form-control" placeholder="Email" name="email" />
          </div>
          <div class="col-md-12">
            <textarea name="question" id="" cols="30" rows="4" class="form-control" placeholder="Question"></textarea>
          </div>
          <div class="col-12 float-left pb-1">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-6">
      <div>
        <div class="title p-2 pb-4">
          <h2 class="text-center">Frequently Asked Questions</h2>
        </div>
        <div class="qanda">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            {% for items in faqq %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-heading{{ forloop.counter }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapse{{ forloop.counter }}">
                  {{ items.question }}
                </button>
              </h2>
              <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ forloop.counter }}"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  {{ items.answer}}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}