{% extends 'inc/nav.html' %} {% load static %} {% block content %}

<!-- Our Gallery section -->
<section class="container">
  <div class="text-center pt-3 px-5">
    <h1>Our Gallery</h1>
    <p>
      Explore our collection of stunning photographs and videos from our past
      events. Our gallery showcases the incredible talent and energy of the
      contestants. Browse through the images and relive some of the best moments
      from the competitions and events.
    </p>
  </div>
  <div class="container">
    <div class="row">
      {% for items in gallery %}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card m-auto my-1 border-0">
          <img src="{{items.img.url}}" class="card-img-top" alt="..." />
          <div class="card-body text-center">
            <h5 class="card-title">{{items.title}}</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Our Gallery section ends here -->

<!-- Pagination -->
<div class="my-5">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
<!-- Pagination ends here-->

{% endblock content %}
