{% extends 'inc/nav.html' %} {% load static %} {% block content %}
<!-- Slider -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        {% for item in slider %}
        <div class="carousel-item active">
            <img src="{{ item.slider_img.url }}" class="d-block w-100" alt="{{ item.slider_title }}" />
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- End Slider -->

<!-- Cards section -->
<section class="container p-5">
    <h1 class="text-center">Choose Your Favorite Events</h1>
    <p class="text-center">
        Welcome to our voting application! Below is a list of all the events
        that you can vote for. Whether you're a fan of dance, music, or live
        shows, we've got something for everyone. Simply click on the event you
        want to vote for. Don't miss out on your chance to support your favorite
        performers and crown the champions of our events. Start voting now and
        join the excitement!
    </p>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
        {% for items in business %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card h-100 small-card">
                <img src="{{items.img.url}}" class="card-img-top" alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                    <h5 class="card-title text-center">{{items.user.name}}</h5>
                </div>
                <div class="card-footer text-center">
                    <p><small class="text-muted">{{items.business_desc}}</small></p>
                    <a href="{% url 'voting' id=items.id %}"><button class="btn btn-primary text-light px-5">Vote Now</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- Cards section ends here-->

<!-- Ads section -->
<section class="container mb-5" style="background-color: rgb(218, 218, 218)">
    <div class="jumbotron jumbotron-fluid border-primary p-3">
        <div class="text-center">
            <h1 class="display-4">Bootstrap fixed responsive ad</h1>
            <p class="lead">
                Insert a fixed ad container to the left or bottom of your content
                according to viewport size.
            </p>
        </div>
    </div>
</section>
<!-- End Ads section -->
{% endblock content %}