{% extends 'inc/nav.html' %} {% load static %} {% block content %}

<!-- Our team section -->
<div class="container mb-5">
  <div class="text-center p-4">
    {% for item in team %}
    <h1>{{ item.title }}</h1>
    <p>{{ item.sub_desc }}</p>
    {% endfor %}
  </div>

  <div class="row text-center">
    {% for item in team_member %}
    <div class="col-md-4 col-sm-6 mb-3">
      <div class="card">
        <img
          src="{{ item.img.url }}"
          class="card-img-top rounded-circle p-3"
          alt="{{ item.name }}"
        />
        <div class="card-body">
          <h5 class="card-title text-center">{{ item.name }}</h5>
          <p>{{ item.post }}</p>
          <a href="{{ item.fb_link }}" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="{{ item.twitter_link }}" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="{{ item.insta_link }}" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Our team section ends -->

{% endblock content %}
