{% extends 'inc/nav.html' %} {% load static %} {% block content %}

<!-- Our team section -->
<div class="container mb-5">
  <div class="text-center p-4">
    <h1>Our Teams</h1>
    <p>
      We are a team of talented and dedicated individuals. Our team members come
      from diverse backgrounds and possess a wide range of skills and expertise,
      which allows us to provide exceptional service to our clients. Get to know
      our team members.
    </p>
  </div>

  <div class="row text-center">
    <div class="col-md-4 col-sm-6 mb-3">
      <div class="card">
        <img
          src="../uploads/team1.jpg"
          class="card-img-top rounded-circle p-3"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Emily Lee</h5>
          <p>CEO</p>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-3">
      <div class="card">
        <img
          src="../uploads/team2.jpg"
          class="card-img-top rounded-circle p-3"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Jane Doe</h5>
          <p>Marketing Manager</p>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-3">
      <div class="card">
        <img
          src="../uploads/team3.jpg"
          class="card-img-top rounded-circle p-3"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">David Lee</h5>
          <p>Software Engineer</p>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-3">
      <div class="card">
        <img
          src="../uploads/team4.jpg"
          class="card-img-top rounded-circle p-3"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Michael Chen</h5>
          <p>Sales Representative</p>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-3">
      <div class="card">
        <img
          src="../uploads/team5.jpg"
          class="card-img-top rounded-circle p-3"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Donald Duck</h5>
          <p>Human Resources Director</p>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our team section ends -->

{% endblock content %}
