{% extends 'inc/nav.html' %} {% load static %} {% block content %}

<!-- Breadcrumb -->
<div class="container py-2" style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Voting Page</li>
  </ol>
</div>

<!-- Breadcrumb Ends Here -->

<!-- Card Section -->
<div class="container">
  <h3 class="text-center p-2">
    <span class="text-danger"> Vote</span>
    <span class="text-primary">for your favorite contestants</span>
  </h3>
  <div class="row">
    {% for items in candidate %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <div class="card m-auto my-1">
        <img src="{{items.candidate_img}}" class="card-img-top" alt="..." />
        <div class="card-body text-center">
          <p class="card-text">{{items.id}}</p>
          <h5 class="card-title">{{items.candidate_name}}</h5>
          <a href="{% url 'voting_detail' business_id=items.business.id candidate_id=items.id %}" class="btn btn-primary">Vote Now</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Card Section Ends here -->

<!-- pagination -->
<div class="mt-4">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
<!-- pagination Ends Here -->

{% endblock content %}