{% extends 'admin/admin.html' %}
{% load static %}
{% block contents %}

<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-sm-6">
      <h1 class="m-0">Blog</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'admin_Dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Blog</li>
      </ol>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->


<div class="create_button mb-3">
  <a class="btn btn-success" href="{% url 'create_blog' %}">Create</a>
  <a class="ms-3 btn btn-info" href="{% url 'admin_blog_detail' %} ">Blogs Details</a>

</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Img</th>
      <th scope="col">Title</th>
      <th scope="col">Decription</th>
      <th scope="col">Author</th>
      <th scope="col">Author Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for items in blog_obj %}
    <tr>
      <td>{{items.img}}</td>
      <td>{{items.title}}</td>
      <td>{{items.description}}</td>
      <td>{{items.author}}</td>
      <td>{{items.author_img.url}}</td>
      <td>{{items.slug.url}}</td>
        <td><a class="btn table_button btn-primary" href="{% url 'view_admin_blog' id=items.id %}">Details</a>
        <a class="btn table_button btn-secondary" href="{% url 'update_blog' %}">Update</a>
        <a class="btn table_button btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</a>
      </td>
    </tr>
    {% endfor %}



  </tbody>
</table>



{% endblock contents %}