{% extends 'admin/admin.html' %}
{% load static %}
{% block contents %}



<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-sm-6">
            <h1 class="m-0">Company</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Company</li>
            </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container-fluid -->


<div class="create_button mb-3">
    <a class="btn btn-success" href="{% url 'create_company' %}">Create</a>

</div>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">CompanyImg</th>
            <th scope="col">Title</th>
            <th scope="col">Desc</th>
            <th scope="col">Mission</th>
            <th scope="col">Vision</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for items in company %}
        <tr>
            <td>{{ items.title }}</td>
            <td>{{ items.companyImg.url }}</td>
            <td>{{ items.desc }}</td>
            <td>{{ items.mission }}</td>
            <td>{{ items.vision }}</td>
            <td>{{ items.status }}</td>
            <td><a class="btn table_button btn-primary">Details</a>
                <a class="btn table_button btn-secondary" href="{% url 'update_company' company_id=items.id %}">Update</a>
                <a class="btn table_button btn-danger" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Delete</a>
            </td>
        </tr>

        {% endfor %}





    </tbody>
</table>



{% endblock contents %}