{% extends 'admin/admin.html' %}
{% load static %}
{% block contents %}

<div class="create_button mb-3">
    <a class="btn btn-success">Create</a>
  </div>
  
  
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Message</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td><a class="btn table_button btn-primary">Details</a>
        <a class="btn table_button btn-secondary">Update</a>
        <a class="btn table_button btn-danger">Delete</a>
        </td>
      </tr>  
    </tbody>
  </table>

{% endblock contents %}