{% extends 'admin/admin.html' %} {% load static %} {% block contents %}

<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-sm-6">
      <h1 class="m-0">Gallery</h1>
    </div>
    <!-- /.col -->
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Gallery</li>
      </ol>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->

<div class="create_button mb-3">
  <a class="btn btn-success" href="{% url 'create_gallery' %}">Create</a>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">User Id</th>
      <th scope="col">Img</th>
      <th scope="col">Top Title</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for items in gallery %}
    <tr>
      <td>{{items.user_id}}</td>
      <td>{{items.img.url}}</td>
      <td>{{items.top_title}}</td>
      <td>{{items.title}}</td>
      <td>{{items.description}}</td>

      <td>
        <a class="btn table_button btn-primary" href="{% url 'view_admin_gallery' id=items.id %}">Details</a>
        <a class="btn table_button btn-secondary" href="{% url 'update_gallery' %}">Update</a>
        <a class="btn table_button btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contents %}