{% extends 'admin/admin.html' %}
{% load static %}
{% block contents %}

<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-sm-6">
      <h1 class="m-0">Testimonial</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'admin_Dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Testimonial</li>
      </ol>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->


<div class="create_button mb-3">
  <a class="btn btn-success" href="{% url 'create_testimonial' %}">Create</a>
  <a class="ms-3 btn btn-info" href="{% url 'admin_testimonial_detail' %} ">Testimonial Details</a>

</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Testimonial name</th>
      <th scope="col">Testimonial desiganation</th>
      <th scope="col">Testimonial message</th>
      <th scope="col">status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for items in testimonial %}
    <tr>
      <td>{{items.testimoni_name}}</td>
      <td>{{items.testmoni_message}}</td>
      <td>{{items.testimoni_designation}}</td>
      <td>{{items.status}}</td>
      <td><a class="btn table_button btn-primary" href="{% url 'view_admin_testimonial' id=items.id %}">Details</a>
        <a class="btn table_button btn-secondary"
          href="{% url 'update_testimonial' testimonial_id=items.id %}">Update</a>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
          Delete
        </button>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete {{items.testmoni_name}} ?
              </div>
              <div class="modal-footer">
                <form method="POST" action="{% url 'delete_testimonial' id=items.id %}">
                  {% csrf_token %}
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" value="delete" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock contents %}