{% extends 'admin/admin.html' %}
{% load static %}
{% block contents %}

<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-sm-6">
      <h1 class="m-0">User</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'admin_Dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">User</li>
      </ol>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->


<div class="create_button mb-3">
  <a class="btn btn-success" href="{% url 'create_user' %}">Create</a>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">UserName</th>
      <th scope="col">Email</th>
      {% comment %} <th scope="col">Password</th> {% endcomment %}
      <th scope="col">Address</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Esewa Number</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Created </th>
      <th scope="col">Updated </th>
      <th scope="col">Action </th>
    </tr>
  </thead>
  <tbody>
    {% for items in users %}
    <tr>
      <td>{{items.id}}</td>
      <td>{{items.name}}</td>
      <td>{{items.username}}</td>
      <td>{{items.email}}</td>
      {% comment %} <td>{{items.password}}</td> {% endcomment %}
      <td>{{items.address}}</td>
      <td>{{items.phone_number}}</td>
      <td>{{items.esewa_number}}</td>
      <td>{{items.role}}</td>
      <td>{{items.status}}</td>
      <td>{{items.created_at}}</td>
      <td>{{items.updated_at}}</td>
      <td><a class="btn table_button btn-primary mb-1" href="{% url 'view_User' id=items.id %}"> Details </a>
        <a class="btn table_button btn-secondary mb-1" href="">Update</a>


       <!-- Button trigger modal -->
       <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Delete
      </button>

      <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete user {{items.username}} ?
            </div>
            <div class="modal-footer">
              <form method="POST" action="{% url 'delete_user' user_id=items.id %}">
                {% csrf_token %}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" value="delete" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      </td>
    </tr>
    {% endfor %}



  </tbody>
</table>



{% endblock contents %}