{% extends 'admin/admin.html' %} {% load static %} {% block contents %}

<style>
  #create {
    width: 60%;
  }

  @media (max-width: 750px) {
    #create {
      width: 85% !important;
    }
  }
</style>
<div id="create" class="m-auto my-5 p-4 shadow">
  <h1 class="text-center">Update Blog</h1>
  <form action="#" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group mb-2 mt-2">
      <label for="blog_title">Blog Title</label>
      <input type="text" class="form-control" id="blog_title" name="title" placeholder="" value="{{blogg.title}}" />
    </div>

    <div class="form-group mb-2 mt-2">
      <label for="blog_author">Blog Author</label>
      <input type="text" class="form-control" id="blog_author" name="author" placeholder="Enter Author Name"
        value="{{blogg.author}}" />
    </div>

    <div class="form-group mb-2 mt-2">
      <label for="slug">Slug</label>
      <input type="text" class="form-control" id="slug" name="slug" placeholder="" value="{{blogg.slug}}" />
    </div>
    <div class="form-group mb-2 mt-2">
      <label for="author_img">Image</label>
      <br>
      {% if blogg.author_img %}
      <img src="{{ blogg.author_img.url }}" alt="Company Image" style="max-width: 100px">
      {% endif %}
      <input type="file" class="form-control" id="author_img" name="author_img" />
    </div>

    <div class="form-group mb-2 mt-2">
      <label for="message">Blog Description</label>
      <textarea class="form-control" id="task_description" name="description" rows="3">{{blogg.description}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-3 mt-2">Submit</button>
    <button class="btn btn-primary mb-3 mt-2">cancel</button>

  </form>
</div>

{% endblock contents %}