{% extends 'admin/admin.html' %}
{% load static %}
{% block contents %}
<style>
  ul li {
    list-style-type: none;
  }
</style>

<!-- first section -->
<section class="container mt-4">

</section>
<div class="col-lg-12 col-md-6 col-sm-12">
  <h2 class="text-center"> {{testimoniald.testmoni_name}} </h2>
  <h6> Designation: {{testimoniald.testmoni_designation}} </h6>
  <h6> Status: {{testimoniald.status}}</h6>
  <p class="card-text  text-center">{{testimoniald.testmoni_message}}</p>
</div>
<!-- second section -->


<!-- js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


{% endblock contents %}